* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-name-container {
    text-align: center;
}

.card {
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 16rem;
    min-height: 24rem;
    padding: 1rem;
}

.card:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.247);
}

img {
    inline-size: 250px;
    aspect-ratio: 1;
    object-fit: contain;

}

.card-text {
    text-align: center;
    bottom: 2px;
    font-size: 2.2rem;
}
